aniso8601==1.2.0
asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.1.4
Flask==1.0.2
Flask-Ask==0.9.8
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
pyOpenSSL==17.0.0
pyPodcastParser==2.0.0
python-dateutil==2.7.3
PyYAML==3.12
requests==2.19.1
six==1.11.0
urllib3==1.23

Werkzeug==0.14.1
